<div id="cover" ng-show="ctrl.loader"></div>
<div class="loader_in_css" ng-show="ctrl.loader"><img src="images/loader.GIF"/></div>

<div class="container">
    <div class="alert alert-danger" id="err" ng-show="iserror">{{errorMessage}}</div>
    
    <div class="commertialInfo" ng-if="ctrl.flag == 'commercial'">    
        <h2>Commercial Registration</h2>
        <div class="row registrationId"><b>Registration ID :</b><span> {{ctrl.draftId}}</span></div>

        <fieldset class="customerInfoSet">
            <legend><h4>Facility Information</h4></legend>
            <p><span class='reviewLabel'>Facility Name </span><b>: </b> {{ctrl.partnerAccountInfo._name}}</p>
            <p><span class='reviewLabel'>Facility Address </span><b>: </b> {{ctrl.partnerAccountInfo._address._street}}</p>
            <p><span class='reviewLabel'>Facility Phone </span><b>: </b> {{ctrl.partnerAccountInfo._phoneNumber}}</p>
            <p><span class='reviewLabel'>Customer Type </span><b>: </b> {{ctrl.partnerAccountInfo._customerType}}</p>
            <p><span class='reviewLabel'>Customer Sub-Type </span><b>: </b> {{ctrl.partnerAccountInfo._customerSubType}}</p>
            <p><span class='reviewLabel'>Customer Sub-Sub-Type </span><b>: </b> {{ctrl.partnerAccountInfo._customerSubSubType}}</p>
            <p><span class='reviewLabel'>Facility Brand </span><b>: </b> {{ctrl.partnerAccountInfo._customerBrand}}</p>
            <p><span class='reviewLabel'>Facility Sub-Brand </span><b>: </b> {{ctrl.partnerAccountInfo._customerSubBrand}}</p>

            <p><span class='reviewLabel'>First Name </span><b>: </b> {{ctrl.partnercontactInfo._firstName}}</p>        
            <p><span class='reviewLabel'>Last Name </span><b>: </b> {{ctrl.partnercontactInfo._lastName}}</p>        
            <p><span class='reviewLabel'>Contact Email </span><b>: </b> {{ctrl.partnercontactInfo._emailAddress}}</p>        
            <p><span class='reviewLabel'>Contact Phone </span><b>: </b> {{ctrl.partnercontactInfo._phoneNumber}}</p> 

            <p><span class='reviewLabel'>Sell Date </span><b>: </b> {{ctrl.partnerSaleInfo.sellDate}}</p>        
            <p><span class='reviewLabel'>Install Date </span><b>: </b> {{ctrl.partnerSaleInfo.installDate}}</p>        
            <p><span class='reviewLabel'>Invoice Number</span><b>: </b> {{ctrl.partnerSaleInfo.invoiceNumber}}</p>        
            <p><span class='reviewLabel'>Customer Source </span><b>: </b> {{ctrl.partnerSaleInfo.customerSource}}</p>        
            <p><span class='reviewLabel'>Management Company </span><b>: </b> {{ctrl.partnerSaleInfo.managementCompany}}</p>        
            <p><span class='reviewLabel'>Buying Group </span><b>: </b> {{ctrl.partnerSaleInfo.buyingGroup}}</p>        
            <p><span class='reviewLabel'>Dealer Rep </span><b>: </b> {{ctrl.partnerSaleInfo.dealerRep}}</p>        
        </fieldset>
    </div>
    <div class="consumerInfo" ng-if="ctrl.flag == 'consumer'">    
        <h2>Consumer Registration</h2>
        <div class="row registrationId"><b>Registration ID :</b><span> {{ctrl.draftId}}</span></div>

        <fieldset class="customerInfoSet">
            <legend><h4>Customer Information</h4></legend>                
            <p><div class='reviewLabel'>First Name </div><b>: </b> {{ctrl.consumerSaleRegistrationInfo.firstName}}</p>
            <p><div class='reviewLabel'>Last Name </div><b>: </b> {{ctrl.consumerSaleRegistrationInfo.lastName}}</p>
            <p><div class='reviewLabel'>Address </div><b>: </b> {{ctrl.consumerSaleRegistrationInfo.address.addressLine1 +" "+ ctrl.consumerSaleRegistrationInfo.address.addressLine2}}</p>
            <p><div class='reviewLabel'>City </div><b>: </b> {{ctrl.consumerSaleRegistrationInfo.address.city}}</p>
            <p><div class='reviewLabel'>Country </div><b>: </b> {{ctrl.consumerSaleRegistrationInfo.country}}</p>
            <p><div class='reviewLabel'>Region </div><b>: </b> {{ctrl.consumerSaleRegistrationInfo.region}}</p>
            <p><div class='reviewLabel'>Postal Code </div><b>: </b> {{ctrl.consumerSaleRegistrationInfo.address.postalCode}}</p>
            <p><div class='reviewLabel'>Phone </div><b>: </b> {{ctrl.consumerSaleRegistrationInfo.phoneNumber}}</p>
            <p><div class='reviewLabel'>Email </div><b>: </b> {{ctrl.consumerSaleRegistrationInfo.personEmail}}</p>
            <p><div class='reviewLabel'>Sell Date </div><b>: </b> {{ctrl.consumerSaleRegistrationInfo.sellDate}}</p>
            <p><div class='reviewLabel'>Invoice </div><b>: </b> {{ctrl.consumerSaleRegistrationInfo.invoiceNumber}}</p>
            <p><div class='reviewLabel'>Dealer Rep </div><b>: </b> {{ctrl.consumerSaleRegistrationInfo.dealerRep}}</p>       
        </fieldset>
    </div>
    
    <fieldset  ng-cloak>
        <legend><h4>Product Information</h4></legend>
        <div class="table-responsive">
            <table class="table" >
                <thead >
                    <tr>
                        <th class="col-sm-3">Serial Number</th>
                        <th class="col-sm-3">Product Line</th>
                        <th class="col-sm-3 centerAlign">Unit-priced</th>
                        <th class="col-sm-3">Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="simple in ctrl.productInfo.simpleLineItems">
                        <td class="col-sm-3">{{simple.serialNumber}}</td>
                        <td class="col-sm-3">{{simple.productLineName}}</td>
                        <td class="col-sm-3"></td>
                        <td class="col-sm-3">$ {{simple.price}}</td>
                    </tr>
                    <tr ng-repeat="composite in ctrl.productInfo.compositeLineItems">
                        <td colspan="4">
                            <table class="table" id="ex">
                                <tr ng-repeat="component in composite.components" class="grayBG">
                                    <td class="col-sm-3">{{component.serialNumber}}</td>
                                    <td class="col-sm-3">{{component.productLineName}}</td>
                                    <td class="col-sm-3 verticalAlign centerAlign" rowspan="{{composite.components.length}}" ng-if = "$index == 0">
                                        <input type="checkbox" ng-if = "(component.price != null)" ng-disabled = "true"/>
                                        <input type="checkbox" ng-if = "(component.price == null)" checked = checked ng-disabled = "true"/>
                                    </td>

                                    <td class="col-sm-3 verticalAlign" ng-if = "(component.price == null) && ($index == 0)" rowspan="{{composite.components.length}}">$ {{composite.price}}</td>
                                    <td class="col-sm-3" ng-if = "component.price != null">$ {{component.price}}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>            
        </div>
    </fieldset>

    <a href="#/">
        <button type="button" class="btn btn-primary"> << Registration Logs </button>
    </a>

</div>