<div id="cover" ng-show="ctrl.loader"></div>
<div class="loader_in_css" ng-show="ctrl.loader"><img src="images/loader.GIF"/></div>

<div class="container">
    <div class="alert alert-danger" id="err" ng-show="iserror">{{errorMessage}}</div>
    
    <div class="row partnerToolsBtn">
        <a href="/partner-tools/#/">
            <button class="btn btn-primary link_main">&lt;&lt; Partner Tools</button>
        </a>
    </div>
    
    <h2 class="margin-top-bottom-5">Registration Logs</h2> 
    
    <div class="row timeFilterBox">
        <label class="control-label padding-top-5" style="float: none;">Filter By Time :</label>
        <div class="col-sm-3 col-xs-4 col-md-2 pull-right">
            <select 
                ng-model="ctrl.currentFilter"
                ng-options="filterOption.value as filterOption.name for filterOption in ctrl.filterOptions"
                ng-change="ctrl.updateFilter(ctrl.currentFilter)"
                ng-disabled="false"
                class="form-control">
            </select>
        </div>
    </div>
    
    <div class="panel panel-primary">
        <div class="panel-heading">Submitted Records</div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Registration ID</th>
                            <th>Facility / Customer</th>
                            <th>Sell Date</th>
                            <th>Submitted Date</th>
                            <th>EW Status</th>
                            <th>SPIFF Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-show="!ctrl.registrationLogs.length && !ctrl.loader">
                            <td colspan="6" class="text-danger centerAlign"><b>No Records Found.</b></td>
                        </tr>
                        <tr ng-repeat="registrationLog in ctrl.registrationLogs | filterByDate:ctrl.startDate:ctrl.endDate">
                            <td class="underline centerAlign"><a href="#/registrationInfo" ng-click="ctrl.showRegistrationDetails(registrationLog._partnerSaleRegistrationId, registrationLog._installDate)">{{registrationLog._partnerSaleRegistrationId}}</a></td>
                            <td>{{registrationLog._facilityName}}</td>
                            <td>{{registrationLog._sellDate}}</td>
                            <td>{{registrationLog._submittedDate}}</td>
                            <td>
                                <span 
                                    class="underline" 
                                    ng-if="registrationLog._extendedWarrantyStatus.toLowerCase() == 'submitted'">
                                    <a 
                                        href="#/submittedExtendedWarranty" 
                                        ng-click="ctrl.showSubmittedEW(registrationLog._partnerSaleRegistrationId)">
                                        Submitted
                                    </a>
                                </span>
                                <span 
                                    ng-if="registrationLog._extendedWarrantyStatus.toLowerCase() == 'not applicable' || registrationLog._extendedWarrantyStatus.toLowerCase() == 'not submitted'">
                                    {{registrationLog._extendedWarrantyStatus}}
                                </span>
                            </td>
                            <td class="underline" ng-if="registrationLog._spiffStatus.toLowerCase() == 'submitted'"><a href="#/submittedClaims" ng-click="ctrl.showClaimSpiff(registrationLog._partnerSaleRegistrationId, registrationLog._installDate)">{{registrationLog._spiffStatus}}</a></td>
                            <td ng-if="registrationLog._spiffStatus.toLowerCase() == 'not applicable' || registrationLog._spiffStatus.toLowerCase() == 'not submitted'">{{registrationLog._spiffStatus}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!--<div class="row" style="text-align:center;">
            <uib-pagination  
                style="margin-top:0px;"
                ng-show="tempUsers.length>0"
                ng-model="currentPage"
                total-items="tempUsers.length"
                max-size="maxSize"
                number-per-page="noOfPages"
                items-per-page="entryLimit"
                boundary-links="true">
            </uib-pagination>
        </div>-->
    </div>
</div>
