<div id="cover" ng-show="ctrl.loader"></div>
<div class="loader_in_css" ng-show="ctrl.loader"><img src="images/loader.GIF"/></div>

<div class="container">
    <div class="row top_custom_nav" >
        <h2 class="pull-left padding-left">Claim SPIFF</h2>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading" ng-show="ctrl.flag == 'commercial'">Facility Information</div>
        <div class="panel-heading" ng-show="ctrl.flag == 'consumer'">Customer Information</div>
        <div class="panel-body">            
            <div class="panel-body facilityInfoSet">
                <p><span class='facilityLabel'>Registration ID </span><b>: </b> {{ctrl.registrationId}}</p>
                <p ng-if="ctrl.flag == 'commercial'"><span class='facilityLabel'>Facility Name </span><b>: </b> {{ctrl.claimInfo.facilityName}}</p>
                <p ng-if="ctrl.flag == 'consumer'"><span class='facilityLabel'>Customer Name </span><b>: </b> {{ctrl.claimInfo.firstName + " " + ctrl.claimInfo.lastName}}</p>
                <p><span class='facilityLabel'>Sell Date</span><b>: </b> {{ctrl.claimInfo.sellDate}}</p>
                <p ng-if="ctrl.claimInfo.installDate"><span class='facilityLabel'>Install Date</span><b>: </b> {{ctrl.claimInfo.installDate}}</p>                
                <p><span class='facilityLabel'>Dealer Rep Name </span><b>: </b> {{ctrl.claimInfo.dealerRep}}</p>
            </div>
        </div>
    </div>
    
    <div class="panel panel-primary">
        <div class="panel-heading">Product Information</div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered" style="margin-top:10px;">
                    <thead>
                        <tr>
                            <th class="centerAlign">Serial Number</th>
                            <th>Product Line</th>
                            <th class="centerAlign">SPIFF Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                         <!--Simple Line Items-->
                        <tr ng-repeat="asset in ctrl.assetsList.simpleLineItems">        
                            <td class="centerAlign">{{asset.serialNumber}}</td>
                            <td>{{asset.productLineName}}</td>
                            <td class="rightAlign">${{asset.spiffAmount || 0 }}</td>
                        </tr>
                        <!--Composite line Items-->
                        <tr ng-repeat="componentsList in ctrl.assetsList.compositeLineItems">                        
                            <td>
                                <table class="table inner-table">
                                    <tr ng-repeat="asset in componentsList.components">
                                        <td class="centerAlign">
                                            {{asset.serialNumber}}
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <table class="table inner-table">
                                    <tr ng-repeat="asset in componentsList.components">
                                        <td>
                                            {{asset.productLineName}}
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td rowspan="componentsList.length" class="rightAlign verticalAlign">${{componentsList.spiffAmount || 0 }}</td>                        
                        </tr>
                        <tr class="borderNone">
                            <td colspan="3" style="text-align: right; border: none;">
                                Total SPIFF : ${{ctrl.totalSpiffAmount}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <div class="row col-sm-6">
        <a href="#/"><button type="button" class="btn btn-primary"> << Registration Logs </button></a>
    </div>
</div>